{% embed 'partials/base.html.twig' %}

	{% set queries = uri.query(null, true) %}
	{% if queries is empty %}
		{% set collection = page.collection %}
	{% else %}
		{% set collection = taxonomy.findTaxonomy(queries) %}
	{% endif %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}
		<section class="section" id="body">
			<h1 class="title">Books</h1>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}
			<div class="columns">
				<div class="column is-8">
					<div class="columns is-multiline">
						{% for child in collection %}
							<div id="listing" class="column
								is-3
								is-6-mobile">
								{% include 'partials/book_cover.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
							</div>
						{% endfor %}
					</div>

					{% if config.plugins.pagination.enabled and collection.params.pagination %}
						{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
					{% endif %}
				</div>

				<div class="column is-4">
					<div id="sidebar" class="block">
						{% include 'partials/sidebar.html.twig' with {'blog':page} %}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}

{% endembed %}
