{% embed 'partials/base.html.twig' %}

	{% block content %}
		<section class="hero is-primary is-large is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						An annotated bibliography of maker resources for libraries, schools, and museums
					</h1>
					<h2 class="subtitle">
						Find books, papers, and articles to help your future creators learn new skills
					</h2>
				</div>
				<div class="container has-text-centered">
					<a href='/books' class="button is-info is-large">
						<span class="icon">
							<i class="fa fa-book"></i>
						</span>
						<span>Browse the collection</span>
					</a>
				</div>
			</div>
		</section>
	{% endblock %}
{% endembed %}
